<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="shortcut icon" href="/images/logo2.png" type="image/png">
    <link rel="stylesheet" href="/css/accountStyle.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <!-- Шапка с логотипом и кнопками -->
    <header class="header">
        <div class="logo">
            <span class="logo-text">Полезный бум</span>
        </div>
        <div class="header-buttons">
            <button class="header-btn" onclick="window.location.href='/order'">Заказ продукции</button>
            <button class="header-btn" onclick="window.location.href='/logout'">Выход</button>
        </div>
    </header>

    <section class="account-section">
        <div class="account-info">
            <h1 id="panelNameProfile">Личный кабинет</h1>
        <form id="userInfoForm" action="/saveUserInfo" method="post" th:object="${user}">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" th:field="*{login}">
            </div>
            <div class="form-group">
                <label for="firstName">Имя:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{name}">
            </div>

            <div class="form-group">
                <label for="lastName">Фамилия:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{surname}">
            </div>

            <div class="form-group">
                <label for="companyName">Имя компании:</label>
                <input type="text" id="companyName" name="companyName" th:field="*{companyName}">
            </div>

            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" th:field="*{number}">
            </div>

            <div class="form-group">
                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" th:field="*{email}">
            </div>


            <button type="submit">Сохранить</button>
        </form>
        <form id="addAddress" action="/addAddress" method="post">
            <div class="form-group">
                <label for="deliveryAddress">Добавление новых адресов:</label>
                <input id="deliveryAddress" name="address" autocomplete="off"/>
                <ul id="suggestions" class="suggestions-list"></ul>
            </div>
            <button type="submit">Добавить новый адрес</button>
        </form>
        <form id="delAddress" action="/delAddress" method="post">
            <div class="form-group">
                <label for="companyAddress">Адреса компании:</label>
                <select id="companyAddress" name="companyAddress">
                    <option th:each="address : ${user.getAddresses()}"
                            th:text="${address}">
                    </option>
                </select>
            </div>
            <button type="submit">Удалить адрес</button>
        </form>
        </div>

        <!-- История заказов -->
        <div class="order-history">
            <h2>История заказов</h2>
            <ul id="order-list">
                <!-- Заказы будут подгружены из БД через JavaScript -->
               <li>
                       <span>Заказ №12345 - 12/10/2024</span>
                       <span>Итого: 2000₽</span>
                       <button class="details-btn">Детали</button>
                   </li>
                   <li>
                       <span>Заказ №12344 - 08/10/2024</span>
                       <span>Итого: 1500₽</span>
                       <button class="details-btn">Детали</button>
                   </li>
            </ul>
        </div>
    </section>

</body>
</html>
