<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="shortcut icon" href="/images/logo2.png" type="image/png">
    <link rel="stylesheet" href="/css/accountStyle.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <!-- Шапка с логотипом и кнопками -->
    <header class="header">
        <div class="logo">
            <span class="logo-text">Полезный бум</span>
        </div>
        <div class="header-buttons">
            <button class="header-btn" onclick="window.location.href='/order'">Заказ продукции</button>
            <button class="header-btn" onclick="window.location.href='/logout'">Выход</button>
        </div>
    </header>

    <section class="account-section">
        <div class="account-info">
            <h1>Личный кабинет</h1>
            <div class="user-details">
                <h2>Ваши данные</h2>
                <p>Логин Иван Иванов</p>
            </div>
        </div>

        <!-- История заказов -->
        <div class="order-history">
            <h2>История заказов</h2>
            <ul id="order-list">
                <!-- Заказы будут подгружены из БД через JavaScript -->
<!--                <li>-->
<!--                    <span>Заказ №12345 - 12/10/2024</span>-->
<!--                    <span>Итого: 2000₽</span>-->
<!--                    <button class="details-btn">Детали</button>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <span>Заказ №12344 - 08/10/2024</span>-->
<!--                    <span>Итого: 1500₽</span>-->
<!--                    <button class="details-btn">Детали</button>-->
<!--                </li>-->
            </ul>
        </div>
    </section>

</body>
</html>
